@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "neue";
    src: url("/assets/fonts/NeueMachina-Regular.ttf");
}

@font-face {
    font-family: "neue-bold";
    src: url("/assets/fonts/NeueMachina-Bold.ttf");
}

/* GENERAL */

*,
*::before,
*::after {
    scroll-behavior: smooth;
    font-family: "neue-bold";
}

::selection {
    background: white;
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background: #e9776d;
    border-radius: 2px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "neue-bold";
}

.wrapper {
    width: 1640px;
    margin: auto;
}

.projectWrapper {
    width: 1360px;
    margin: auto;
}

@media screen and (max-width: 1700px) {
    .wrapper {
        width: 95%;
    }
}

@media screen and (max-width: 1400px) {
    .projectWrapper {
        width: 90%;
    }
}

.regular {
    font-family: "neue";
}

.fillup {
    position: relative;
    overflow: hidden;
    transition: all 0.7s;
}

@media screen and (max-width: 1000px) {
    .fillup,
    .fillup:hover {
        height: auto !important;
    }
}

.fillup span {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-image: linear-gradient(to top, #fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    background-size: 100% 0%;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: background-size 0.7s;
}

.fillup:hover span {
    background-size: 100% 100%;
}

#container {
    perspective: 25px;
}

/* NAVBAR */

.menuButton.close div:nth-child(3) {
    transform: rotate(-135deg) translateY(2px) translateX(1px);
}

.menuButton.close div:nth-child(2) {
    transform: rotate(-45deg) translateY(-12px) translateX(4px) scaleX(1);
}

.menuButton.close div:nth-child(1) {
    transform: scaleX(0) !important;
}

/*  PERSPECTIVE */

.perspectiveImage {
    width: 120%;
    height: 120%;
    left: 0;
    top: 0;
    position: absolute;
    mix-blend-mode: normal;
}

.perspectiveImage.reverse {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

.perspectiveImage::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.616), transparent);
}

@media screen and (max-width: 1040px) {
    .perspectiveImageContainer {
        height: 400px !important;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .perspectiveImageContainer {
        height: 240px !important;
    }
}

/* map */
.overlay {
    height: 90vh;
}

.overlay::before,
.overlay::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 360px;
    z-index: 30;
}

.overlay::after {
    top: 0;
    background: linear-gradient(to bottom, #000, transparent);
}

.overlay::before {
    bottom: 0;
    background: linear-gradient(to top, #000, transparent);
}

.right-shadow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 900px;
    background: linear-gradient(to left, #000, #000, transparent);
}

@media screen and (max-width: 1024px) {
    .overlay {
        height: auto;
    }

    .right-shadow {
        top: 300px;
        height: 110px;
        width: 100%;
        background: linear-gradient(to top, #000, #000, transparent);
    }
}

/* preloader */

.preloader {
    animation: tiltSpin 8s linear infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    color: #e9776d;
}
.preloader,
.preloader__ring {
    transform-style: preserve-3d;
}
.preloader__ring {
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: inherit;
    animation-iteration-count: inherit;
    font-size: 2em;
    position: relative;
    height: 3rem;
    width: 1.5rem;
}
.preloader__ring:nth-child(even) {
    animation-direction: reverse;
}
.preloader__sector {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    transform: translateZ(7rem);
}
.preloader__sector,
.preloader__sector:empty:before {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.preloader__sector:empty:before {
    background: linear-gradient(
        transparent 45%,
        currentColor 45% 55%,
        transparent 55%
    );
    content: "";
}
.preloader__sector:nth-child(2) {
    transform: rotateY(12deg) translateZ(7rem);
}
.preloader__sector:nth-child(3) {
    transform: rotateY(24deg) translateZ(7rem);
}
.preloader__sector:nth-child(4) {
    transform: rotateY(36deg) translateZ(7rem);
}
.preloader__sector:nth-child(5) {
    transform: rotateY(48deg) translateZ(7rem);
}
.preloader__sector:nth-child(6) {
    transform: rotateY(60deg) translateZ(7rem);
}
.preloader__sector:nth-child(7) {
    transform: rotateY(72deg) translateZ(7rem);
}
.preloader__sector:nth-child(8) {
    transform: rotateY(84deg) translateZ(7rem);
}
.preloader__sector:nth-child(9) {
    transform: rotateY(96deg) translateZ(7rem);
}
.preloader__sector:nth-child(10) {
    transform: rotateY(108deg) translateZ(7rem);
}
.preloader__sector:nth-child(11) {
    transform: rotateY(120deg) translateZ(7rem);
}
.preloader__sector:nth-child(12) {
    transform: rotateY(132deg) translateZ(7rem);
}
.preloader__sector:nth-child(13) {
    transform: rotateY(144deg) translateZ(7rem);
}
.preloader__sector:nth-child(14) {
    transform: rotateY(156deg) translateZ(7rem);
}
.preloader__sector:nth-child(15) {
    transform: rotateY(168deg) translateZ(7rem);
}
.preloader__sector:nth-child(16) {
    transform: rotateY(180deg) translateZ(7rem);
}
.preloader__sector:nth-child(17) {
    transform: rotateY(192deg) translateZ(7rem);
}
.preloader__sector:nth-child(18) {
    transform: rotateY(204deg) translateZ(7rem);
}
.preloader__sector:nth-child(19) {
    transform: rotateY(216deg) translateZ(7rem);
}
.preloader__sector:nth-child(20) {
    transform: rotateY(228deg) translateZ(7rem);
}
.preloader__sector:nth-child(21) {
    transform: rotateY(240deg) translateZ(7rem);
}
.preloader__sector:nth-child(22) {
    transform: rotateY(252deg) translateZ(7rem);
}
.preloader__sector:nth-child(23) {
    transform: rotateY(264deg) translateZ(7rem);
}
.preloader__sector:nth-child(24) {
    transform: rotateY(276deg) translateZ(7rem);
}
.preloader__sector:nth-child(25) {
    transform: rotateY(288deg) translateZ(7rem);
}
.preloader__sector:nth-child(26) {
    transform: rotateY(300deg) translateZ(7rem);
}
.preloader__sector:nth-child(27) {
    transform: rotateY(312deg) translateZ(7rem);
}
.preloader__sector:nth-child(28) {
    transform: rotateY(324deg) translateZ(7rem);
}
.preloader__sector:nth-child(29) {
    transform: rotateY(336deg) translateZ(7rem);
}
.preloader__sector:nth-child(30) {
    transform: rotateY(348deg) translateZ(7rem);
}

/* Animations */
@keyframes tiltSpin {
    from {
        transform: rotateY(0) rotateX(30deg);
    }
    to {
        transform: rotateY(1turn) rotateX(30deg);
    }
}
@keyframes spin {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1turn);
    }
}
